<%- include('../partials/header.ejs') %>
<main class="main-content mt-4">
  <form action = '/events' method = 'POST' enctype="multipart/form-data">
    <div class="row mt-4">
      <div class="col-sm-1"></div>
      <label class="col-sm-1">Category</label>
      <div class="col-sm-10">
        <select name="category" id="category" class="form-control dropdown" required>
          <option value="">--Select a category--</option>
          <option value="Local Treks">Local Treks</option>
          <option value="Adventure Series">Adventure Series</option>
          <option value="International Expeditions">International Expeditions</option>
          <option value="Tips And Techniques">Tips And Techniques</option>
          <option value="Others">Others</option>
        </select>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-sm-1"></div>
      <label class="col-sm-1">Title</label>
      <div class="col-sm-10">
        <input
          type="text"
          name="title"
          placeholder="title"
          class="form-control"
          required
        />
      </div>
    </div>

    <!-- <div class="row mt-4">
      <div class="col-sm-1"></div>
      <label class="col-sm-1">Host</label>
      <div class="col-sm-10">
        <input
          type="text"
          name="hostName"
          placeholder="host"
          class="form-control"
          required
        />
      </div>
    </div> -->

    <div class="row mt-4">
      <div class="col-sm-1"></div>
      <label class="col-sm-1">Details</label>
      <div class="col-sm-10">
        <textarea
          name="details"
          placeholder="description"
          required
          class="form-control"
          rows="2"
        ></textarea>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-sm-1"></div>
      <label class="col-sm-1">Where</label>
      <div class="col-sm-10">
        <input
          type="text"
          name="location"
          placeholder="location"
          required
          class="form-control"
        />
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-sm-1"></div>
      <label class="col-sm-1">Start</label>
      <div class="col-sm-10">
        <input
          type="datetime-local"
          name="startDateTime"
          class="form-control"
          required
        />
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-sm-1"></div>
      <label class="col-sm-1">End</label>
      <div class="col-sm-10">
        <input
          type="datetime-local"
          name="endDateTime"
          class="form-control"
          required
        />
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-sm-1"></div>
      <label class="col-sm-1">Image</label>
      <div class="col-sm-10">
        <input type="file" name="image" class="form-control" required/>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-sm-2"></div>
      <div class="col-sm-10">
        <input type="submit" value="Submit" class="submit-button" />
      </div>
    </div>

    <div class="row mt-4"></div>
  </form>
</main>
<%- include('../partials/footer.ejs') %>
