<footer class="fixed-bottom" id="footer">
    &nbsp; &copy;2024 Trekking Community &nbsp; &nbsp; 
    <a href="/about" class="footer-link">ABOUT</a> &nbsp; &nbsp;
    <a href="/contact" class="footer-link">CONTACT</a> &nbsp;&nbsp;
    <div class="social-icons d-flex justify-content-end">
      <a href="https://www.facebook.com" class="social-icon me-3">
        <i class="fab fa-facebook-f text-white"></i>
      </a>
      <a href="https://www.instagram.com" class="social-icon me-3">
        <i class="fa-brands fa-square-instagram text-white"></i>
      </a>
      <a href="https://www.twitter.com" class="social-icon me-3">
        <i class="fa-brands fa-square-x-twitter text-white"></i>
      </a>
    </div>
  </footer>
</body>
</html>
