<%- include ('./partials/header.ejs') %>
<main class="main-page-content">
  <h2>Welcome to the Hiking Enthusiasts Community Portal!</h2>

  <p><br />Explore. Connect. Fun!!!!<br /></p>
  <p>
    Discover new trails, join group hikes, and share your outdoor adventures.
    Connect with fellow hikers to exchange tips and experiences.
  </p>
  <p>
    Don't miss out on our expert-led workshops for enhancing your hiking skills
    and outdoor knowledge
  </p>
</main>

<%- include ('./partials/footer.ejs') %>
