<%- include ('../partials/header.ejs') %>
<main class="main-page-content">
  <h3>CONTACT</h3>
  <p>
    <br /> Address : Popp Martin Student Union<br /> University of North carolina at Charlotte
  </p>
  <p>
    <br/>Phone: (980)-121-234 <br />
  </p>
</main>
<%- include ('../partials/footer.ejs') %>
